NovelSpeaker/Vendor/VoicevoxCore/**/*.xcframework/**/* filter=lfs diff=lfs merge=lfs -text
NovelSpeaker/Vendor/VoicevoxCore/**/*.vvm filter=lfs diff=lfs merge=lfs -text
NovelSpeaker/Vendor/VoicevoxCore/**/open_jtalk_dic_utf_8-1.11/** filter=lfs diff=lfs merge=lfs -text
