/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@media (prefers-color-scheme: light) {
  * {
    background-color: #e0e0e0;
    color: black;
  }
  a:link { color: #0000ff; }
  a:visited { color: #000080; }
}

@media (prefers-color-scheme: dark) {
  * {
    background-color: #202020;
    color: #a0a0a0;
  }
  a:link { color: #5050ff; }
  a:visited { color: #4040a0; }
}

* {
	font-size: x-large;
}

/* LAYOUT STYLES */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
}

.inner {
  width: 90%;
  margin: 0 auto;
}

code {
  //background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  //background: #303030;
  //color: #f2f2f2;
  text-shadow: none;
  overflow: auto;
}
pre code {
  //color: #f2f2f2;
  //background-color: #303030;
  border: none;
  padding: 0;
}

/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 2.6em;
} 

h2 {
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 8px;
} 

h3 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 8px;
} 
 
h4 {
  font-size: 1.4em;
  font-weight: bold;
} 

h5 {
  font-size: 1em;
  //color: #303030;
} 

h6 {
  font-size: .8em;
  //color: #303030;
} 

p {
  font-weight: 300;
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.4em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

footer {
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: .8em;
}

footer a {
  font-size: .8em;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

.centerImage {
	text-align: center;
}
